*{
  margin:18px;
  color: darkblue;
}
h1{
  color: brown;
  font-size: 40px;
}
li::marker{
  font-style: oblique;
  font-size:20px;
color: brown;
}
h2{
  color: black;
  font-size: 25px;
}

img{
  position:relative;
}
h3,p{
  display: inline-block;
}

body{
background: goldenrod;

}
ol, li{
  font-style: oblique;
}
h3,li{
  font-style: oblique;
}
